@use "../abstracts";

.cate-item {
    display: flex;
    align-items: center;
    padding: 20px 26px 20px 20px;

    &__thumb {
        width: 116px;
        height: 116px;
        flex-shrink: 0;

        padding-right: 20px;
    }

    &__info {
        width: 214px;
    }

    &__title {
        color: #000;

        /* Bold 22 */

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%; /* 145.455% */
    }

    &__desc {
        color: #1a162e;

        /* Regular 16 */

        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 150% */
    }
}
