@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}
.header {
    background: var(--header-bg-color);
    @include abstracts.breakpoints(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}
.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    padding: 30px 0;
    @include abstracts.breakpoints(lg) {
        padding: 20px 0;
    }
    @include abstracts.breakpoints(md) {
        justify-content: space-between;
        padding: 16px 0;
    }
    &__more {
        display: none;
        @include abstracts.breakpoints(lg) {
            display: block;
        }
    }
}

.navbar {
    &--grocery {
        inset: 0 0 0 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--inner-padding);

        padding-left: var(--inner-padding);

        overflow-y: auto;
    }
    @include abstracts.breakpoints(lg) {
        grid-template-columns: 1fr;
    }

    &__link {
        @include abstracts.breakpoints(lg) {
            margin-left: auto;
            width: 100%;
        }
        grid-template-columns: 1fr;
    }
}

.navbar {
    margin-left: 129px;
    @include abstracts.breakpoints(xl) {
        margin-left: 28px;
    }

    @include abstracts.breakpoints(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        margin-left: 0;
        padding: 20px 0;
        background: #fff;

        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    &__close-btn {
        display: none;

        @include abstracts.breakpoints(lg) {
            display: block;
            padding: 10px 40px;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.breakpoints(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;

            transition: opacity, visibility;
            transition-duration: 0.5s;

            background: rgba($color: #000000, $alpha: 0.4);
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.breakpoints(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            height: calc(100% - 26px);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoints(lg) {
            &:hover .dropdown {
                display: none;
            }

            width: 100%;
        }
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.breakpoints(lg) {
            justify-content: space-between;
            padding: 0 40px;

            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__arrow {
        margin-top: 3px;
    }
}
.top-act {
    @extend %flexItemsCenter;
    gap: 20px;
    margin-left: auto;
    @include abstracts.breakpoints(md) {
        margin-left: 0;
    }
    &__group {
        @extend %flexItemsCenter;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
        @include abstracts.breakpoints(md) {
            display: none;
        }
    }
    &__group--single {
        @include abstracts.breakpoints(lg) {
            display: none;
        }
    }
    &__group--single &__btn {
        padding: 13px;
    }
    &__btn {
        @extend %flexItemsCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }
    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }
}
// %flexItemsCenter {
//     display: flex;
//     align-items: center;
// }

// .header {
//     background: var(--header-bg-color);
//     box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
// }
// .top-bar {
//     @extend %flexItemsCenter;
//     padding: 30px 0;

//     @include abstracts.breakpoints(sm) {
//         justify-content: space-between;
//     }

//     @include abstracts.breakpoints(lg) {
//         padding: 20px 0;
//     }

//     @include abstracts.breakpoints(md) {
//         justify-content: space-between;

//         padding: 16px 0;
//     }

//     // &__more {
//     //     display: none;

//     //     @include abstracts.breakpoints(sm) {
//     //         display: block;
//     //     }

//     //     @include abstracts.breakpoints(md) {
//     //         display: block;
//     //     }

//     //     @include abstracts.breakpoints(lg) {
//     //         display: block;
//     //     }

//     //     @include abstracts.breakpoints(xl) {
//     //         display: block;
//     //     }
//     //     // @include abstracts.breakpoints(xxl) {
//     //     //     display: block;
//     //     // }
//     // }
// }

// .navbar {
//     margin-left: 129px;

//     @include abstracts.breakpoints(xl) {
//         margin-left: 28px;
//     }

//     @include abstracts.breakpoints(lg) {
//         display: block;
//         position: fixed;
//         inset: 0 50% 0 0;
//         margin-left: 0;
//         padding: 20px 0;
//         background: #fff;
//         z-index: 9;

//         translate: -100%;
//         transition: translate 0.5s;

//         &.show {
//             translate: 0;
//         }

//         &.show ~ &__overlay {
//             visibility: visible;
//             opacity: 1;
//         }
//     }

//     // @include abstracts.breakpoints(xl) {
//     //     display: none;
//     // }
//     &__close-btn {
//         display: none;

//         @include abstracts.breakpoints(lg) {
//             display: block;
//             padding: 10px 20px;
//             margin-left: 639px;
//         }
//     }

//     &__overlay {
//         visibility: hidden;
//         opacity: 0;

//         @include abstracts.breakpoints(lg) {
//             // visibility: visible;
//             // opacity: 1;

//             position: fixed;
//             inset: 0;
//             z-index: 8;

//             transition: visibility opacity;
//             transition-duration: 0.5s;

//             background: rgba($color: #000000, $alpha: 0.4);
//         }
//     }

//     &__list {
//         @extend %flexItemsCenter;

//         @include abstracts.breakpoints(lg) {
//             flex-direction: column;
//             align-items: flex-start;
//         }
//     }

//     &__item {
//         // &:first-child a {
//         //     padding-left: 0;
//         // }

//         // &:last-child a {
//         //     padding-right: 0;
//         // }

//         &:hover .dropdown {
//             display: block;
//         }

//         @include abstracts.breakpoints(lg) {
//             &:hover .dropdown {
//                 display: none;
//             }

//             width: 100%;
//         }
//     }

//     // &--grocery {
//     //     display: grid;
//     //     grid-template-columns: repeat(4, 1fr);
//     //     gap: var(--inner-padding);

//     //     padding-left: var(--inner-padding);

//     //     overflow-y: auto;
//     // }

//     &__link {
//         @extend %flexItemsCenter;

//         height: 50px;
//         gap: 6px;
//         padding: 0 15px;

//         font-size: 1.5rem;
//         font-weight: 500;
//         line-height: 146.667%;

//         @include abstracts.breakpoints(lg) {
//             justify-content: space-between;
//             padding: 0 20px;
//             font-size: 1.6rem;
//             line-height: 150%; /* 150% */
//         }
//     }

//     &__arrow {
//         margin-top: 3px;
//     }
// }
// .top-act {
//     @extend %flexItemsCenter;
//     gap: 20px;
//     margin-left: auto;

//     @include abstracts.breakpoints(md) {
//         margin-left: 0;
//     }

//     &__group {
//         @extend %flexItemsCenter;
//         min-width: 50px;
//         height: 50px;
//         border-radius: 8px;
//         background: var(--top-act-group-bg-color);
//         box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
//     }

//     &__group--single {
//         @include abstracts.breakpoints(lg) {
//             display: none;
//         }
//     }

//     &__group--single &__btn {
//         padding: 13px;
//     }
//     &__btn {
//         @extend %flexItemsCenter;
//         gap: 10px;
//         padding: 13px 20px;
//         cursor: pointer;
//     }
//     &__title {
//         font-size: 1.5rem;
//         font-weight: 500;
//         line-height: 146.667%;
//     }
//     &__separate {
//         width: 1px;
//         height: 30px;
//         background: var(--top-act-group-separate);
//     }
//     &__avatar {
//         display: block;
//         width: 50px;
//         height: 50px;
//         border-radius: 8px;
//         cursor: pointer;
//     }
// }
