@use "../layout";

.dropdown {
    position: absolute;
    left: 160px;
    padding-top: 54px;

    width: min(1240px, 100%);
    // display: none;

    &__inner {
        position: relative;

        max-height: min(596px, 100vh - 154px);
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            content: url("../icon/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -190px;
            filter: var(--dropdow-arrow-color);
        }
    }
}

.top-menu {
    height: calc(min(596px, 100vh - 154px) - 60px);

    &__main {
        width: 292px;
        height: inherit;
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    &__icon {
        position: relative;

        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }

    &__icon-1,
    &__icon-2 {
        position: absolute;
        object-fit: cover;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
    }

    &__icon-2 {
        right: 0;
        bottom: 0;

        width: 24px;
        height: 24px;
    }

    &__content {
        flex-shrink: 1;
    }

    &__heading {
        color: var(--text-color);
        margin-top: 4px;
        margin-bottom: 26px;

        /* Medium 16 */
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%; /* 150% */
    }

    &__list {
        margin-bottom: 14px;
    }

    // &__item {
    //     margin-bottom: 14px;
    // }

    &__link {
        display: block;
        padding: 7px 0;
        /* Regular 14 */
        color: var(--text-color);
        font-size: 1.4rem;
        line-height: 142.857%; /* 142.857% */

        &:hover {
            color: #0071dc;

            font-weight: 500;
        }
    }
}
