@use "../abstracts";

// .navbar {
//     &--grocery {
//         inset: 0 0 0 0;
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         gap: var(--inner-padding);

//         padding-left: var(--inner-padding);

//         overflow-y: auto;
//     }
//     @include abstracts.screen(lg) {
//         grid-template-columns: 1fr;
//     }

//     &__link {
//         @include abstracts.screen(lg) {
//             margin-left: auto;
//             width: 100%;
//         }
//         grid-template-columns: 1fr;
//     }
// }

// .dropdown {
//     position: absolute;
//     left: 306px;
//     width: min(1240px, 100%);
//     padding-top: 54px;
//     // display: none;

//     @include abstracts.screen(lg) {
//         display: block;
//         left: 483px;
//         position: initial;
//         padding-top: 0;
//     }

//     &__inner {
//         --inner-padding: 30px;
//         position: relative;
//         padding: 10px;
//         border-radius: 20px;
//         background: var(--dropdown-bg-color);
//         box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

//         &::before {
//             content: url("../icon/dropdown-arrow.svg");
//             position: absolute;
//             top: -13px;
//             left: var(--arrow-left-pos);
//             translate: -50%;
//             filter: var(--dropdown-arrow-color);
//             display: block;
//         }

//         @include abstracts.screen(lg) {
//             padding: 0 40px;
//             border-radius: 0;
//             background: transparent;
//             box-shadow: none;

//             &::before {
//                 content: none;
//             }
//         }
//     }
// }

// .top-menu {
//     --main-column-width: 292px;
//     --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
//     position: relative;

//     display: none;

//     &__main {
//         width: var(--main-column-width);
//         height: var(--max-inner-height);
//         border-right: 1px solid var(--top-menu-border-color);
//         overflow-y: auto;
//         @include abstracts.screen(lg) {
//             width: 100%;
//             height: auto;
//             border-right: none;
//         }
//     }
//     &__main--grocery,
//     &__main--beauty {
//         inset: 0 0 0 0;
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         gap: var(--inner-padding);

//         border-right: 0;
//         padding-left: var(--inner-padding);

//         overflow-y: auto;

//         @include abstracts.screen(lg) {
//             display: grid;
//             grid-template-columns: 1fr;
//         }
//     }
// }

.dropdown {
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    padding-top: 54px;
    display: none;

    @include abstracts.screen(lg) {
        position: initial;
        padding-top: 0;
    }

    &__inner {
        --inner-padding: 30px;
        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
        @include abstracts.screen(lg) {
            padding: 0 40px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            &::before {
                content: none;
            }
        }
        @include abstracts.screen(sm) {
            padding: 0 20px;
        }
    }
}
.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
    position: relative;
    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
        @include abstracts.screen(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }

    &__main--grocery,
    &__main--beauty {
        inset: 0 0 0 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--inner-padding);

        border-right: 0;
        padding-left: var(--inner-padding);

        overflow-y: auto;

        @include abstracts.screen(lg) {
            display: grid;
            grid-template-columns: 1fr;
        }

        @include abstracts.screen(sm) {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

// .top-menu {
//     --main-column-width: 292px;
//     --main-inner-hight: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);

//     // display: none;

//     &__main {
//         width: var(--main-column-width);
//         height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
//         border-right: 1px solid var(--top-menu-border-color);
//         overflow-y: auto;

//         @include abstracts.screen(lg) {
//             width: 100%;
//             height: auto;
//             border-right: none;
//         }
//     }

// &__main--grocery,
// &__main--beauty {
//     inset: 0 0 0 0;
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     gap: var(--inner-padding);

//     border-right: 0;
//     padding-left: var(--inner-padding);

//     overflow-y: auto;

//     @include abstracts.screen(lg) {
//         display: grid;
//         grid-template-columns: 1fr;
//     }
// }
// }

.top-menu--grocery {
    --main-column-width: auto;
    // display: none;

    .menu-column {
        display: flex;
        gap: 14px;

        + .menu-column {
            margin-top: 0px;
        }
    }

    .menu-column:nth-child(5) {
        margin-top: -179px;
    }

    .menu-column:nth-child(6) {
        margin-top: -10px;
    }

    .menu-column:nth-child(7) {
        margin-top: -111px;
    }

    .menu-column:nth-child(8) {
        margin-top: -146px;
    }
}

.top-menu--beauty {
    --main-column-width: auto;
    // display: none;

    .menu-column {
        display: flex;
        gap: 14px;

        + .menu-column {
            margin-top: 0px;
        }
    }

    .menu-column:nth-child(5) {
        margin-top: -112px;
    }

    .menu-column:nth-child(6) {
        margin-top: -78px;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 20px;
    }

    @include abstracts.screen(lg) {
        margin-top: 10px;
    }

    &__icon {
        position: relative;

        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.screen(xl) {
            display: none;
        }

        @include abstracts.screen(lg) {
            display: block;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }
    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;

        @include abstracts.screen(lg) {
            margin-bottom: 26px;
        }
    }
    &__list {
        margin-top: 19px;

        @include abstracts.screen(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link,
    &__heading:hover {
        color: #0071dc;
        font-weight: 500;

        @include abstracts.screen(lg) {
            color: #0071dc;
            font-weight: 500;
        }
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 142.857%;

        // &hover {
        //     color: #0071dc;
        //     font-weight: 500;
        // }
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-column-width);

    display: none;
    // display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);

    padding-left: var(--inner-padding);

    overflow-y: auto;

    @include abstracts.screen(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    &--not-main {
        position: initial;
        inset: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: var(--main-inner-hight);
        padding-left: 0;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
            height: auto;
        }
    }
}

// // @use "../layout";

// .dropdown {
//     position: absolute;
//     left: 290px;
//     padding-top: 54px;

//     width: min(1240px, 100%);
//     // display: none;

//     &__inner {
//         --inner-padding: 30px;

//         position: relative;

//         padding: var(--inner-padding);

//         border-radius: 20px;
//         background: var(--dropdown-bg-color);
//         box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

//         &::before {
//             content: url("../icon/dropdown-arrow.svg");
//             position: absolute;
//             top: -13px;
//             left: var(--arrow-left-pos);
//             translate: -310px;
//             filter: var(--dropdow-arrow-color);
//         }
//     }
// }

// .top-menu {
//     --main-column-width: 292px;

//     position: relative;

//     height: calc(min(596px, 100vh - 154px) - var(--inner-padding) * 2);

//     &__main {
//         width: 292px;
//         height: calc(min(596px, 100vh - 154px) - var(--inner-padding) * 2);
//         border-right: 1px solid var(--top-menu-border-color);
//         overflow-y: auto;
//     }
// }

// .menu-column {
//     display: flex;
//     gap: 14px;

//     &__icon {
//         position: relative;

//         flex-shrink: 0;
//         width: 36px;
//         height: 36px;
//     }

//     &__content {
//         flex: 1;
//     }

//     &__icon-1 {
//         width: 30px;
//         height: 30px;
//         object-fit: cover;
//     }

//     &__icon-2 {
//         position: absolute;
//         right: 0;
//         bottom: 0;
//         width: 24px;
//         height: 24px;
//         object-fit: cover;
//         filter: var(--menu-column-icon-color);
//     }

//     &__heading {
//         color: var(--text-color);
//         margin-top: 4px;
//         margin-bottom: 26px;

//         /* Medium 16 */
//         font-size: 1.6rem;
//         font-weight: 500;
//         line-height: 150%; /* 150% */
//     }

//     &__list {
//         margin-bottom: 14px;
//     }

//     // &__item {
//     //     margin-bottom: 14px;
//     // }
//     &__item {
//         &:hover .sub-menu {
//             display: grid;
//         }
//     }

//     &__item:hover > &__link {
//         color: #0071dc;
//         font-weight: 500;
//     }

//     &__link {
//         display: block;
//         padding: 7px 0;
//         /* Regular 14 */
//         color: var(--text-color);
//         font-size: 1.4rem;
//         line-height: 142.857%; /* 142.857% */

//         // &:hover {
//         //     color: #0071dc;

//         //     font-weight: 500;
//         // }
//     }
// }

// .sub-menu {
//     position: absolute;
//     inset: 0 0 0 var(--main-column-width);

//     // display: none;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: var(--inner-padding);

//     padding-left: var(--inner-padding);

//     overflow-y: auto;
// }
