html.dark{
    --text-color:#171C28;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(35%) saturate(0%) hue-rotate(306deg) brightness(112%) contrast(101%);

    --header-bg-color:#171C28;
    --top-act-group-bg-color: #292E39F;
    --top-act-group-shadow:rgba(0, 0, 0, 0.20); 
} 
