@use "../abstracts";

// html.dark {
//     --text-color: #fff;
//     --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
//         saturate(7500%) hue-rotate(119deg) brightness(111%) contrast(104%);

//     --body-bg: #292e39;
//     --header-bg-color: #171c28;
//     --footer-bg-color: var(--header-bg-color);
//     --footer-text-color: #9e9da6;
// }

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);

    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
}
