@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);

    --body-bg: #292e39;

    // header
    --header-bg-color: #171c28;
    --header-shadow-color: rgba(0, 0, 0, 0.2);

    --footer-bg-color: var(--header-bg-color);

    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.breakpoints(xl) {
        --header-bg-color: #171c28;
        --body-bg: #292e39;
    }

    // dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdow-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(7%) saturate(1741%) hue-rotate(186deg) brightness(93%) contrast(89%);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(7%) saturate(767%) hue-rotate(180deg) brightness(98%) contrast(100%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
}
