html{
    --text-color:#1A162E;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(44%) saturate(902%) hue-rotate(210deg) brightness(91%) contrast(96%);

    --header-bg-color:#eee;
    --top-act-group-bg-color:#fff;
    --top-act-group-shadow:rgba(237, 237, 246, 0.20); 
}
