@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);

    --body-bg: #f6f6f6;

    // header
    --header-bg-color: #eee;
    --header-shadow-color: rgba(237, 237, 246, 0.2);

    --footer-bg-color: var(--header-bg-color);

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.breakpoints(xl) {
        --header-bg-color: #fff;
        --body-bg: #f6f6f6;
    }

    // dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;
    // --menu-column-icon-color: brightness(0) saturate(100%) invert(95%) sepia(7%)
    //     saturate(114%) hue-rotate(212deg) brightness(90%) contrast(89%);

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
}
