html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(39%)
        saturate(845%) hue-rotate(210deg) brightness(94%) contrast(98%);

    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
}
