*,
::before,
::after {
    box-sizing: border-box;
}

// ::root {
//     --text-color: #1a162e;
//     --icon-color: brightness(0) saturate(100%) invert(8%) sepia(44%)
//         saturate(902%) hue-rotate(210deg) brightness(91%) contrast(96%);
// }

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

button,
textarea,
input,
select {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon-color);
}
