$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin screen($key) {
    $breakpoints: map-get($grid-breakpoints, $key);
    @if ($breakpoints) {
        @media (max-width: ($breakpoints - 0.02)) {
            @content;
        }
    } @else {
        @error " The Values #($key) is not in  breakpoints list.";
    }
}
